body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    background: rgb(238, 174, 202);
    background: radial-gradient( circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    flex-direction: row;
}

.logo {
    width: 40vw;
}

.logo>img {
    width: 250px;
    margin-top: 5px;
}

.link {
    width: 60vw;
}

.link>ul {
    list-style-type: none;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.link>ul>li {
    padding: 10px;
    margin-right: 20px;
    padding-right: 0px;
}

.link>ul>li>a {
    text-decoration: none;
}

#hb_menu {
    background-color: rgb(17, 17, 17);
    width: 50px;
    height: 50px;
    padding-top: 3px;
    display: none;
}

.link2 {
    background-color: chocolate;
    display: none;
}

#btn {
    background-color: rgb(19, 4, 23);
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
}


/* css for main */

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.son_1 {
    width: 60%;
    text-align: end;
}

.son_1>img {
    margin: 20px;
    margin-right: 50px;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 30px 30px 0px 0px rgba(212, 154, 134, 0.571);
}

.son_2 {
    width: 40%;
}

.son_2>h2 {
    color: rgb(80, 80, 231);
    margin: 10px;
    margin-top: 60px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.son_2>p {
    margin: 10px;
    font-size: 20px;
}

.son_3 {
    display: block;
}


/*  CSS FOR KIDS  */

.kids {
    background-color: rgb(100, 192, 193);
    background-image: url(./images/Atlas.jpeg);
    margin: auto;
    width: 95vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    display: none;
}

.child_1 {
    width: 60%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.child_2 {
    width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cld-1 {
    width: 10vw;
}

.cld-1>hr {
    background-color: white;
    color: blue;
    height: 4px;
    border: none;
}

.cld-2 {
    width: 55vw;
    padding-left: 20px;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}


/*  CSS FOR ABOUT  */

.about {
    width: 95vw;
    margin: auto;
    background-image: url(./images/002\ Night\ Fade.png);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about>h5 {
    padding: 0px;
    margin-bottom: 0px;
    color: rgb(74, 70, 70);
    font-size: 20px;
}

.about>h3 {
    margin-top: 10px;
    font-size: 20px;
    color: black;
}


/*  CSS FOR OUR */

.our {
    padding-top: 40px;
    background-image: url(./images/002\ Night\ Fade.png);
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.m_1 {
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.diamond>img {
    width: 100px;
    height: 100px;
}

.mission {
    padding: 5px;
}

.mission>h4 {
    color: rgb(96, 95, 95);
    font-size: 25px;
    margin-top: 0%;
}

.mission>p {
    font-size: 15px;
    font-family: fantasy;
    margin-top: 0px;
}

.mission>h6 {
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: palevioletred;
}

.boy>img {
    width: 25vw;
    height: 450px;
    margin-top: 0px;
    padding: 0px;
}


/* CSS FOR m_2 */

.m_2 {
    width: 25vw;
    display: block;
}

.diamond2>img {
    width: 100px;
    height: 100px;
}

.mission2 {
    padding: 5px;
}

.mission2>h4 {
    font-size: 25px;
    margin-top: 0px;
    color: rgb(96, 95, 95);
}

.mission2>p {
    font-size: 15px;
    font-family: fantasy;
    margin-top: 0px;
}

.mission2>h6 {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: palevioletred;
}

.girl>img {
    width: 25vw;
    height: 450px;
    margin-top: 0px;
    padding: 0px;
}


/*  CSS FOR  m_3 */

.m_3 {
    width: 35vw;
}

.m_3>img {
    width: 35vw;
    padding-top: 50px;
}


/*  css for KEY */

.key {
    width: 95vw;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.key_1>h6 {
    font-size: 20px;
    margin-bottom: 0px;
    padding-top: 40px;
}

.key_1>p {
    margin-top: 15px;
    font-size: 35px;
}


/* CSS FOR KEY_2 */

.key_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.environment_1 {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 20vw;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.environment_1>img {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 150px;
    margin-top: 20px;
    border-radius: 90px;
}

.environment_1>h4 {
    font-size: 20px;
    color: palevioletred;
}

.environment_1>p {
    padding: 10px;
    margin: auto;
}


/*  CSS FOR ENVIRONMENT_2 */

.environment_2 {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 20vw;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.environment_2>img {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 150px;
    margin-top: 20px;
    border-radius: 90px;
}

.environment_2>h4 {
    font-size: 20px;
    color: palevioletred;
}

.environment_2>p {
    padding: 10px;
    margin: auto;
}


/* CSS FOR ENVIRONMENT_3 */

.environment_3 {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 20vw;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.environment_3>img {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 150px;
    margin-top: 20px;
    border-radius: 90px;
}

.environment_3>h4 {
    font-size: 20px;
    color: palevioletred;
}

.environment_3>p {
    margin: auto;
    padding: 10px;
}


/* CSS FOR ENVIRONMENT_4 */

.environment_4 {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 20vw;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.environment_4>img {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    width: 150px;
    margin-top: 20px;
    border-radius: 90px;
}

.environment_4>h4 {
    font-size: 20px;
    color: palevioletred;
}

.environment_4>p {
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
}


/*  CSS FOR PAINT */

.paint {
    background-image: url(./images/Ali.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.colour_1 {
    width: 55vw;
    display: flex;
}

#girl_paint {
    width: 30vw;
    height: 35vw;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
}

#boy_paint {
    border-radius: 5px;
    position: absolute;
    margin-top: 9vw;
    margin-left: 27vw;
    color: transparent;
    width: 23vw;
    height: 25vw;
    box-shadow: 0px -23px 15px 37px rgb(10, 224, 239);
}

.colour_2 {
    width: 30vw;
    margin: auto;
    margin-left: 30px;
}

.colour_2>h2 {
    color: #076880;
    font-size: 30px;
}

.colour_2>p {
    font-size: 20px;
}

.colour_2>h5 {
    font-size: 20px;
    color: rgb(89, 87, 87);
}

.colour_2>h6 {
    font-size: 18px;
    color: rgb(29, 116, 118);
}


/*  CSS FOR ENROLL */

.enroll {
    width: 95vw;
    height: 20vw;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 10px;
}

.roll_1 {
    text-align: center;
    width: 40vw;
    padding: 10px;
    padding-top: 60px;
    font-size: 20px;
}

.roll_2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 17px;
}

.roll_2>p {
    width: 40vw;
    padding: 10px;
    margin-right: 35px;
    margin-top: 0%;
}


/*  CSS FOR JUMP */

.jump {
    width: 95vw;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* **** */

.jump_1 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 35vw;
    padding-top: 50px;
    margin-right: 30px;
    text-align: right;
    justify-content: space-between;
}


/* ****** */

.jump_2 {
    width: 30vw;
    text-align: center;
}

.jump_2>p {
    font-size: 20px;
    margin: 0%;
    color: rgb(82, 81, 81);
}

.jump_2>h1 {
    margin-top: 10px;
    font-size: 30px;
}

.jump_2>img {
    width: 100%;
    /* height: 35vw; */
    margin-bottom: 30px;
    background-image: url(./images/Ali.jpeg);
}


/* ******* */

.jump_3 {
    padding-top: 50px;
    margin-left: 30px;
    width: 30vw;
    height: 35vw;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


/* ****** */

.facility {
    /* background-color: #bb84d4; */
    text-align: center;
    width: 95vw;
    margin: auto;
    padding-top: 10px;
    /* font-size: 20px; */
    letter-spacing: 2px;
}


/* *** */

.relax {
    /* background-color: #B721FF; */
    margin-top: 10px;
    width: 95vw;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 60px;
}

.rlx_1 {
    /* margin-top: 20px; */
    width: 50vw;
    /* background-color: rgb(244, 102, 14); */
    /* text-align: end; */
}

.rlx_1>img {
    position: absolute;
    background-color: orange;
    width: auto;
    height: 300px;
    margin-left: 240px;
}

.rlx_2 {
    background-color: rgb(246, 244, 243);
    width: 27vw;
    position: absolute;
    margin-top: 110px;
    right: 220px;
    align-items: center;
    padding: 25px;
    box-shadow: -64px 2px 0px 23px #24c6dc;
    /* box-shadow: 0 3px 10px rgba(36, 235, 119, 0.2); */
}

.ggg {
    background-color: rgb(16, 165, 199);
    height: 100px;
    width: 95vw;
    margin-top: 200px;
    position: absolute;
    text-align: end;
}

.ggg>h6 {
    /* background-color: blue; */
    padding-right: 20px;
    padding-top: 30px;
}


/*  CSS FOR LOCATE */

.locate {
    /* background-color: #21D4FD; */
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 20vw;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.location {
    /* background-color: #3721ff; */
    width: 30vw;
    text-align: center;
}

.location>img {
    background-color: #B721FF;
    width: 70px;
    border-radius: 40px;
}

.location>h4 {
    /* background-color: #5f55b2; */
    font-size: 15px;
    /* font-style: oblique; */
    font-style: italic;
}

.phone {
    /* background-color: #fd6e21; */
    width: 30vw;
    text-align: center;
}

.phone>img {
    background-color: rgba(222, 146, 3, 0.983);
    width: 70px;
    border-radius: 40px;
}

.phone>h4 {
    font-size: 15px;
    font-style: italic;
}

.message {
    /* background-color: blue; */
    width: 30vw;
    text-align: center;
}

.message>img {
    background-color: #7ed6ec;
    width: 70px;
    border-radius: 20px;
}

.message>h4 {
    font-size: 15px;
    font-style: italic;
}